<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Resume and Portfolio for Tracy Bragdon">
    <meta name="author" content="Tracy Bragdon">

    <title>Tracy Bragdon-Web Application Developer-Porfolio</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="~/css/agency.css" rel="stylesheet">

    <!-- Syntax Highlighter CSS-->
    <link href="~/Content/SyntaxHighlighter/shCore.css" rel="stylesheet" />
    <link href="~/Content/SyntaxHighlighter/shCoreDefault.css" rel="stylesheet" />
    <link href="~/Content/SyntaxHighlighter/shThemeDefault.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Tracy Bragdon</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#resume">Resume</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#connect">Connect</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://tbragdon-blog.azurewebsites.net/" target="_blank">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Tracy Bragdon</div>
                <div class="text-primary intro-heading">Full Stack <br />.NET Developer</div>
                <div class="intro-lead-in">Handling All The Layers Of the Stack</div>
                <a href="#portfolio" class="page-scroll btn btn-xl">View Projects</a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Re-entering the software development field after 20-years of other business experiences, I am excited to be returning to my first love of application development.  
                    I am a mature, committed, individual with a strong work ethic, looking for a challenging junior .NET position in which I can contribute, learn, and grow professionally. </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Background</h4>
                    <p class="text-muted">With a background in software development and business, I am sensitive to the customer experience as well as business concerns. 
                        Please refer to my <a href="#resume">resume</a> and <a href="#portfolio">project portfolio</a> for more details on my background and skills.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technical Skills</h4>
                    <p class="text-muted"><strong>Languages:</strong> JavaScript, jQuery,  C#, .NET</p>
                    <p class="text-muted"><strong>Frameworks:</strong> Bootstrap, AJAX, .NET</p>
                    <p class="text-muted"><strong>Tools:</strong> Visual Studio, Sublime, Chrome & FireFox Developer Tools</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-exchange fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Contact</h4>
                    <p class="text-muted">Contact me directly via:</p>
                         
                     <p><a href="#" data-toggle="modal" data-target="#phone" class="portfolio-link">Phone</a></p>
                     <p><a href="mailto:tracy.bragdon@gmail.com">Email</a></p> 
                     <p><a href="https://www.linkedin.com/in/tracybragdon" target="_blank">LinkedIn</a></p>
                   
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading">Following is a sampling of my projects:</h3>
                </div>
            </div>

            <div class="row">
                <!-- Financial App-->
                <div class="col-md-6 portfolio-item">
                    <a href="#" data-toggle="modal" data-target="#budgeter" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>

                        <img src="~/img/portfolio/financials_thumb.jpg" class="img-responsive" alt="screenshot of Financial App">
                    </a>
                    <div class="portfolio-caption">
                        <h4>WalletMaster</h4>
                        <p class="text-muted">Household Budgeting</p>
                    </div>
                </div>

                <!-- Car Lister -->
                @*<div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#" data-toggle="modal" data-target="#carLister" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>

                        <img src="~/img/portfolio/carGarage_thumb.jpg" class="img-responsive" alt="screenshot of CarLister App" />
                    </a>
                    <div class="portfolio-caption">
                        <h4>Car Listing App</h4>
                        <p class="text-muted">Coming Soon</p>
                    </div>
                </div>*@

                <!-- Bug Tracker-->
                <div class="col-md-6 portfolio-item">
                    <a href="#" data-toggle="modal" data-target="#bugTracker" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/img/portfolio/no-bugs_thumb.png" class="img-responsive" alt="screenshot of BugTracker App" />
                    </a>
                    <div class="portfolio-caption">
                        <h4>Bug Tracker</h4>
                        <p class="text-muted">Software Bug Tracking</p>
                    </div>
                </div>

            </div> <!-- end row -->
            <div class="row">

                <!-- Rowing Quiz -->
                <div class="col-md-6 portfolio-item">
                    <a href="#" data-toggle="modal" data-target="#RowingQuiz" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/img/portfolio/screenshotRowingQuiz_thumb.png" class="img-responsive" alt="screenshot of Rowing Quiz game">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Rowing Quiz</h4>
                        <p class="text-muted">Game utilizing JavaScript & jQuery</p>
                    </div>
                </div>

                <!-- Contacts App -->
                <div class="col-md-6 portfolio-item">
                    <a href="#" data-toggle="modal" data-target="#contactsApp" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/img/portfolio/screenshot_ContactsApp_thumb.png" class="img-responsive" alt="screenshot of Contacts App">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Contacts App</h4>
                        <p class="text-muted">Create & View Contacts</p>
                    </div>
                </div>

                <!-- JScript & Jquery Exercises-->
                @*<div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#" data-toggle="modal" data-target="#JSExercises" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/img/portfolio/screenshot_JSExercises_thumb.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>JavaScript & jQuery Exercises</h4>
                        <p class="text-muted">String and Number Exercises</p>
                    </div>
                </div>*@

                <!-- Hot or Cold Game -->
                <!--
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#" data-toggle="modal" data-target="#hotCold" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/img/portfolio/screenshot_HotOrCold.png" class="img-responsive" alt="screenshot of Hot or Cold Game" />
                    </a>
                    <div class="portfolio-caption">
                        <h4>Hot or Cold</h4>
                        <p class="text-muted">Number Guessing Game</p>
                    </div>
                </div>
                ! remove Hot or Cold app for now -->
            
            </div> <!-- end row -->
        </div>
    </section>

    <!-- Resume Section -->
    <section id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Resume</h2>
                    <h3 class="section-subheading text-muted">Highlights of my background and experience. <br />
                    You can also view and download a <a href="~/img/TracyBragdonResume.pdf" target="_blank">.pdf version</a> of my resume.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/logos/GWTM-logo.png" alt="Greatwide Truckload Management Logo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2017 - present</h4>
                                    <h4 class="subheading">Application Developer <br />Greatwide Truckload Management</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Member of three-person development team utilizing C#, .NET, API, Javascript, JQuery, JQWidgets, and KnockoutJS. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/logos/CF-logo.png" alt="Coder Foundry Logo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fall 2016</h4>
                                    <h4 class="subheading">Jr. Web Developer <br />Coder Foundry</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Enrolled in full-time, immersive, full-stack coding bootcamp for C# and .NET development.  Refer to <a href="#portfolio">projects portfolio</a> for a sampling of projects completed.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/logos/PGS-logo.png" alt="Powers Guaranteed Generators Logo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2016</h4>
                                    <h4 class="subheading">Sales Coordinator <br />Powers Guaranteed Generators</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Handle inbound inquiries from residential, commercial and municipal customers, as well as electrical contractors. 
                                    Using active listening skills, manage conversational flow to prequalify prospective standby generator customers. 
                                    Provide easy to understand explanations of options and features of technical equipment to non-technical customers. 
                                    Schedule on-site visits for pre-qualified customers in a manner to utilize sales reps time and resources efficiently. 
                                    Provide quotations, address customer questions, and build relationships for repeat business and referrals. 
                                    Interface with other departments including Accounting, Installation and Service. Train other personnel and document internal processes.  
                                    Update content on Wordpress website; modify existing in-house python applications; other special projects on as-needed basis. 

                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/logos/BFIC-logo.jpg" alt="Brick Farm Ice Cream Logo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2001-2012</h4>
                                    <h4 class="subheading">Owner/Manager<br />Brick Farm Ice Cream</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Perform all aspects of operating a seasonal homemade ice cream stand. Handle all hiring, training, scheduling & supervision of nine part-time teenage employees.  
                                        Perform all bookkeeping including payroll, tax filings and accounts payable.  Perform marketing functions and website development and maintenance.  
                                        Track inventory, order and receive supplies, develop ice cream recipes and produce ice cream.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/logos/scitools-logo.png" alt="Scientific Toolworks Logo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1997-2001</h4>
                                    <h4 class="subheading">Software Engineer <br />Scientific Toolworks</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Member of small team developing software applications for use by software engineers to assist in understanding and maintaining legacy code.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/logos/NFRlogo.jpg" alt="NFR logo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1995-1997</h4>
                                    <h4 class="subheading">Work Order Coordinator, National Field Representatives</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Coordinate work for property maintenance nation-wide for mortgage company clients.   
                                        Adhere to guidelines established by regulating agencies guaranteeing the mortgage.
                                        Daily followup with field personnel. Provide sameday status reports to clients. 
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="~/img/logos/digital-logo.png" alt="DEC logo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1984-1995</h4>
                                    <h4 class="subheading">Software Engineer <br />Digitial Equipment Corp.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Responsible for software design, development, support, maintenance, and user documentation of proprietary CAD tools used for physical layout of printed wire boards. 
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                 <img class="img-circle img-responsive" src="~/img/logos/NU-seal.png" alt="Northeastern University Seal">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1984</h4>
                                    <h4 class="subheading">B.S. General Engineering <br />Northeastern University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Computer Science Curriculum <br />
                                        Graduated with Honors <br />
                                        Member of Women’s Varsity Crew 
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Frameworks Aside -->
    <aside class="frameworks bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="~/img/logos/bootstrap.jpg" class="img-responsive img-centered" alt="Bootstrap">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="~/img/logos/CSharpLogo.png" class="img-responsive img-centered" alt="C#">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="~/img/logos/dotNet.png" class="img-responsive img-centered" alt=".Net">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="~/img/logos/jQuery.gif" class="img-responsive img-centered" alt="jQuery">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="~/img/logos/JavaScript.png" class="img-responsive img-centered" alt="JavaScript">
                    </a>
                </div>
                @*<div class="col-md-2 col-sm-4">
                    <a href="#">
                        <img src="http://placehold.it/200x200" class="img-responsive img-centered" alt="TBD">
                    </a>
                </div>*@
            </div>
        </div>
    </aside>

    <!-- Connect Section -->
    <section id="connect">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Let's Connect</h2>
                    <h3 class="section-subheading text-muted">I look forward to connecting with you.</h3>
                </div>
            </div>
            <div class="row">
              <!--  <div class="col-sm-4">

                </div>
                  !-->
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="team-member">
                        <img src="~/img/team/Tracy_Bragdon.jpg" class="img-responsive img-circle" alt="Tracy Bragdon photo">
                        <h4>Tracy Bragdon</h4>
                        <p class="text-muted">Full-Stack Developer</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#" data-toggle="modal" data-target="#phone" class="portfolio-link"><i class="fa fa-phone" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="mailto:tracy.bragdon@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/tlgbragdon" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/tracybragdon" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#mailing" class="portfolio-link"><i class="fa fa-home" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
               <!-- <div class="col-sm-4">
                </div>
                !-->
            </div>
          
        </div>
    </section>

 

    <!-- Blog Section -->
    <section id="blog" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Blog</h2>
                    <h3 class="section-subheading text-muted"><a href="https://tbragdon-blog.azurewebsites.net/" target="_blank">Visit my blog</a> to read about my coding bootcamp experience.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!--
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                    !-->
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Tracy Bragdon 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#phone" class="portfolio-link"><i class="fa fa-phone" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="mailto:tracy.bragdon@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/tlgbragdon" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/tracybragdon" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#mailing" class="portfolio-link"><i class="fa fa-home" aria-hidden="true"></i></a>
                        </li>
                    </ul>
      
                </div>
               
                <div class="col-md-4">
                    <!--
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                     -->
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->

    <!-- Rowing Quiz Modal -->
    <div class="portfolio-modal modal fade" id="RowingQuiz" tabindex="-1" role="dialog" aria-labelledby="RowingQuiz" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle text-primary" aria-hidden="true"></i></button>
                                <h1 class="modal-title" id="myModalLabel">Rowing Quiz</h1>
                            </div>
                            <div class="modal-body col-sm-12">
                                <!-- <h2>Rowing Quiz</h2> -->
                                <p class="item-intro text-muted">Quiz game asking ten questions about rowing terminology.  For each correct question, your boat advances along the course - try and keep up with the pace boat!
                                </p>
                                <img class="img-responsive img-centered" src="~/img/portfolio/screenshotRowingQuiz.png" alt="Screenshot of Rowing Quiz">
                                
                                <p>
                                    Project was done for Thinkful online Front-End class utilizing javascript Objects, and jQuery.
                                </p>
                                <p><a href="https://tlgbragdon.github.io/RowingQuiz/" target="_blank">Try it Live</a><br />
                                   <a href="https://github.com/tlgbragdon/RowingQuiz" target="_blank">View the source on GitHub</a>
                                </p>

                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>

                            </div>
                            <div class="modal-footer no-margin">    
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Financial App Modal -->
    <div class="portfolio-modal modal fade" id="budgeter" tabindex="-1" role="dialog" aria-labelledby="budgeter" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
  
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle text-primary" aria-hidden="true"></i></button>
                                <h1 class="modal-title" id="myModalLabel">WalletMaster</h1>
                            </div>

                            <div class="modal-body">
                                
                                <p class="item-intro text-muted">
                                    Personal Finance 
                                </p>

                                <img src="~/img/portfolio/financials.jpg" class="img-responsive img-centered" alt="image of household finances" />

                                <p>
                                   WalletMaster is a personal budgeting application. It allows multiple users to participate in a single Household.
                                    Each household can create a budget with any number of categories.  Standard categories are provided which can be
                                    renamed, removed, or added.  Transactions can be recorded for multiple bank accounts and expenses are tracked
                                    across the categories.  Balance limits can be set per account and the individuals with access to the account
                                    will be notified (via email and within the application) when the limit is reached.  
                                 </p>
                                <p>
                                    WalletMaster utilizes the following methodologies and technologies:
                                    <ul>
                                        <li>MVC software design pattern</li>
                                        <li>Code-First database schema</li>
                                        <li>User Authorization through Entity Framework</li>
                                        <li>Responsive, Bootstrap interface and HTML5</li>
                                        <li>Provides visual charting of data</li>
                                    </ul>
                                </p>
                               
                                
                                <p>
                                    <a href="https://tbragdon-budgeter.azurewebsites.net" target="_blank">Try it Live</a><br />
                                    <!--  <a href="#" target="_blank">View the source on GitHub</a>  -->
                                </p>
                                 

                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                            <div class="modal-footer no-margin">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Car Lister Modal -->
    <div class="portfolio-modal modal fade" id="carLister" tabindex="-1" role="dialog" aria-labelledby="carLister" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle text-primary" aria-hidden="true"></i></button>
                                <h1 class="modal-title" id="myModalLabel">Car Lister</h1>
                            </div>

                            <div class="modal-body">

                                <p class="item-intro text-muted">
                                    Project Status: TBD
                                </p>

                                <img src="~/img/portfolio/carGarage.jpg" class="img-responsive img-centered"  alt="screenshot of Car Lister App">

                                <p>
                                    Coming Soon!
                                </p>

                                 <!--
                                <p>
                                <a href="#" target="_blank">Try it Live</a><br />
                                <a href="#" target="_blank">View the source on GitHub</a>
                                </p>
                                 -->

                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                            <div class="modal-footer no-margin">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Contacts App -->
    <div class="portfolio-modal modal fade" id="contactsApp" tabindex="-1" role="dialog" aria-labelledby="contactsApp" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle text-primary" aria-hidden="true"></i></button>
                                <h1 class="modal-title" id="myModalLabel">Contacts App</h1>
                            </div>

                            <div class="modal-body">

                                <p class="item-intro text-muted">
                                    Create and store contact info.  Contacts may have mutiple addresses and phone numbers.
                                </p>

                                <img src="~/img/portfolio/screenshot_ContactsApp.png" class="img-responsive img-centered" alt="TBD" />

                                <p>
                                    Basic app to create and view a list of contacts.  A list of all contacts appear alphabetically at the bottom.  
                                    A detailed view of the selected contact is displayed in the right column.

                                </p>
                                <p>
                                    Javascript objects used to store phone, address, and contact information.
                                    jQUery used for DOM manipulation.  Bootstrap utilized for responsive layout.
                                </p>

                                <p>
                                <a href="https://tlgbragdon.github.io/ContactsApp/" target="_blank">Try it Live</a><br />
                                <a href="https://github.com/tlgbragdon/ContactsApp" target="_blank">View the source on GitHub</a>
                                </p>

                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                            <div class="modal-footer no-margin">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- BugTracker -->
    <div class="portfolio-modal modal fade" id="bugTracker" tabindex="-1" role="dialog" aria-labelledby="bugTracker" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle text-primary" aria-hidden="true"></i></button>
                                <h1 class="modal-title" id="myModalLabel">Bug Tracker</h1>
                            </div>

                            <div class="modal-body">

                                <p class="item-intro text-muted">
                                    Software bug tracking tool
                                </p>

                                <img src="~/img/portfolio/bugtracker-screenshot.png" class="img-responsive img-centered" alt="screenshot of BugTracker Ticket info" />

                                <p>BugTracker allows for creation, assignment, and tracking of software tickets.  Users are assigned roles (Administrator, Project Manager, Developer, 
                                and/or Submitter) which determines what capabilities and information that user has access to. A user may have more than one role. Any number of 
                                projects may be created. Tickets may include file attachments and comments.  Email notifications are provided to affected users when a ticket is assigned or updated.
                                A history of ticket changes is also captured.
                                </p>
                                <p>BugTracker utilizes the following methodologies and technologies:
                                    <ul>
                                        <li>Code-First database schema</li>
                                        <li>MVC software design pattern</li>
                                        <li>User and Role Authentication and Authorization through Entity Framework</li>
                                        <li>Responsive, Bootstrap interface and HTML5</li>
                                        <li>Sends notifications via email</li>
                                    </ul>
                                </p>
                                <p>
                                    <a href="https://tbragdon-bugtracker.azurewebsites.net" target="_blank">Try it Live</a><br />
                                    <a href="https://github.com/tlgbragdon/BugTracker" target="_blank">View the source on GitHub</a> 
                                </p>
                                
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                            <div class="modal-footer no-margin">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS Exercises -->
    <div class="portfolio-modal modal fade" id="JSExercises" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle text-primary" aria-hidden="true"></i></button>
                                <h1 class="modal-title" id="myModalLabel">Javascript & jQuery Exercises</h1>
                            </div>

                            <div class="modal-body">

                                <p class="item-intro text-muted">
                                    Several beginner-level number and string exercises in both JavaScript and jQuery
                                </p>
                                <img class="img-responsive img-centered" src="~/img/portfolio/screenshot_JSExercises.png" alt="JavaScript and jQuery Exercises">

                                <p>
                                   Four exercises completed using JavaScript only and the same exercises completed also utilitizing jQuery.
                                   This was a small project completed in the first week of the CoderFoundry course.   
                                </p>
                                <p>
                                <ul> Exercises are:
                                    <li>For series of numbers provided by the user, report the least, greatest, sum, mean, and product.</li>
                                    <li>For a number specified by the user, calculate the factorial.</li>
                                    <li>Generate Fizz Buzz for numbers from 1-100 based on divisors provided by user.</li>
                                    <li>Test if string provided by the user is a palindrome or not.</li>
                                </ul>   
                                    
                                </p>
                                <p>
                                <!--<a href="https://tlgbragdon.github.io/JavaScriptExercises/" target="_blank">Try it Live</a><br /> -->

                                <a href="~/Content/JSExercises.html" target="_blank">Try it Live</a><br /> 
                                <a href="https://github.com/tlgbragdon/JavaScriptExercises" target="_blank">View the source on GitHub</a>
                                </p>

                                <h3>Code Sample:</h3>
                                <pre class="brush:js">
    // output factorial of provided input
	function factorialJQ () {
		var num = $("#factorialInputJQ").val();
		var factorial = 1;
		if (isNaN(num) || num &lt 0) {
            $("#factorialOutputJQ").text("Not a valid positive number, try again.");
        }
		// 0! is a special case
		else {
			if (Number(num) === 0)  
				{ factorial = 1;}  
			else {
				for (var i=Number(num); i>0; i--) {
					factorial = factorial * i;
				}
			};
			$("#factorialOutputJQ").text(num + "! = " + factorial);
		};
		// clear input
		$("#factorialInputJQ").val("");
	}

    </pre>

                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                            <div class="modal-footer no-margin">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Phone Modal-->
    <div class="modal fade" id="phone" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true"><i class="fa fa-times-circle text-primary" aria-hidden="true"></i></button>
                    <h4 class="modal-title">Mobile Phone</h4>

                </div>
                <div class="modal-body">
                    <p> 603-477-8461 </p>

                    <p><a href="tel:603-477-8461">Call Tracy</a></p>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!--Mailing Info Modal-->
    <div class="modal fade" id="mailing" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true"><i class="fa fa-times-circle text-primary" aria-hidden="true"></i></button>
                    <h4 class="modal-title">Mailing Address</h4>
                  
                </div>
                <div class="modal-body">
                    <address>
                        Tracy Bragdon<br />
                        140 Blackberry Ln <br />
                        Mooresville, NC 28115
                    </address>
                </div>
                
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- jQuery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="~/js/jqBootstrapValidation.js"></script>
    <script src="~/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="~/js/agency.min.js"></script>

    <!-- Syntax Highlighter-->
    <script src="~/Scripts/SyntaxHighlighter/shCore.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/shBrushJScript.js"></script>
    <script>SyntaxHighlighter.all();  //initiates syntaxHighlighter
    </script>

</body>

</html>
